version: "3.9"
services:
  db:
    image: postgres:16
    container_name: fst_db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 3s
      timeout: 3s
      retries: 20
    volumes:
      - fst_pg:/var/lib/postgresql/data

volumes:
  fst_pg:
